header {
    background-color: #EAC926;
    background-size: 200px;
    align-content: center;
}
body{
   background-color: #EAC926;
   font-family: 'Roboto', sans-serif;
   font-size: 12px; 
}

main{
    width: 90%;
}

.productos{
    margin: 10px;
    
}
.titulares{
    font-size: 24px;
}

.precio {
    font-size: 18px;
}

.descuento {
    font-size: 16px;
}


/ como hacer el burguer/
.burger-menu{
    color: #ebebeb;
    background-color: #1259c3;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.pie-pag {
    text-align: center;
}

.fa_blue{
    width: 2em;
    margin-bottom: 10px;
}

@media (min-width: 769px){
    
    }
    @media(min-width: 361px){
     box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }